/** @define Article; use strict */
.Article {
  background: white;
  width: 100%;
  margin: 0px auto;

  position: relative;
  overflow: hidden;
}
.Article-content a, .Article-content a:visited {
  border: none;
  color: rgb(135,184,37);
}
.Article-authorBackground {
  /*background: rgb(230,230,230);*/
  padding: 10px;
}
.Article-author {
  padding-bottom: 30px;

}
.Article-cover {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.Article-coverImg {
  height: 150px;
}
.Article-coverCopyright a {
  color: #2F2930;
  border: none;
  font-size: 12px;
}
.Article-coverCopyright {
  color: #2F2930;
  position: absolute;
  bottom: 4px;
  right: 10px;
  cursor: pointer;
  border: none;
  font-size: 12px;
}
h1.Article-title {
  border-left: none;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 0;
}
@media screen and (min-width: 400px) {
    h1.Article-title {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (min-width: 400px) and (max-width: 1299px) {
    .Article-content,.Article-author{
		    max-width: 600px;
        margin: 0 auto;
    }
    .Article-cover {
        width: 100%;
        height: 300px;
    }
    .Article-coverImg {
      height: 300px;
    }
}
@media screen and (min-width: 1300px) {
    .Article-content,.Article-author{
		    max-width: 600px;
        margin: 0 auto;
    }
    .Article-cover {
        width: 100%;
        height: 300px;
    }
    .Article-coverImg {
      width: 100%;
      height: auto;
    }
}
.Article-content {
  background: rgba(255,255,255,0.8);
  position: relative;
  padding: 8px;
}

@media screen and (max-width: 400px){
  .Article-content h1:first-child {
      margin: 0;
  }
}
.Article-author {
  //background: #FAFAFA;
  line-height: 1.4;
  font-family: 'Noto Sans', sans-serif;

}
.Article-authorHeader {
  min-height: 0px;
}
.Article-avatar {
  cursor: pointer;
	float: left;
  margin: 20px 0px 0px 20px;
  background: white;
  //border: 3px solid rgb(140,140,140);
  //box-shadow: 3px 3px 0px rgba(200,200,200,0.4);
  border: 1px solid rgb(100,100,100);
  border-radius: 50%;
  width: 60px;
}
.Article-avatar:hover {
  box-shadow: 3px 3px 0px rgba(200,200,200,0.7);
}
.Article-info {
	overflow:hidden;  _overflow:visible;  zoom:1;
	padding-left:10px;
  padding-top: 24px;

}
a.Article-name {
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;

  display: inline-block;
  border: none;
}
a.Article-name:hover {
  text-decoration: underline;
}
div.Article-date {
  display: inline-block;
  font-size: 10px;
  font-weight: 200;
  margin: 0 6px;
}

.Article-footer {
  text-align: center;
  background: rgb(230,230,230);
  min-height: 150px;

}
