@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

p, blockquote, h3, ul, ol, li, a, span {
   font-family: 'Noto Sans', sans-serif;
   line-height: 1.8;
   font-size: 18px;
   color: rgb(53,55,54);
}

.flexWrapper {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
	display: flex;

   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;

	background: #FAFAFA;
}
.padTags {
   display: none;
}
.defaultTags {
   -webkit-box-flex: 0 0 320px;     /* OLD - iOS 6-, Safari 3.1-6 */
   -moz-box-flex: 0 0 320px;        /* OLD - Firefox 19- */
   -webkit-flex: 0 0 320px;         /* Chrome */
   -ms-flex: 0 0 320px;            /* IE 10 */
   flex: 0 0 320px;
   height: 100vh;

   -webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
   -moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
   -ms-flex-order: 3;              /* TWEENER - IE 10 */
   -webkit-order: 3;               /* NEW - Chrome */
   order: 3;
   
}
@media all and (min-width: 600px) {
	.flexWrapper {
		-webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
	}
   .padTags {
      display: block;
   }
   .defaultTags {
      display: none;
   }
}
@media all and (min-width: 1000px) {
   .padTags {
      display: none;
   }
   .defaultTags {
      display: block;
   }
}
a, a:visited {
   color: rgb(53,55,54);
   cursor: pointer;
   text-decoration: none;
   border-bottom: 1px solid rgb(120,120,120);
}
a:hover {

}
h1 {
   font-size: 28px;
   line-height: 1.25;
   font-weight: 900;
   margin: 50px 0px 20px 0px;
   border-left: 10px solid #87B825;
   padding-left: 14px;

}
@media screen and (min-width: 400px){
   h1 {
      font-size: 40px;
   }
}
h2 {
   font-size: 26px;
   font-weight: 900;
   margin: 16px 0px;
}
p {

}
ol {

}
li {

}
hr {
   border: none;
   border-top: 1px solid rgb(200,200,200);
}
/* IMAGES */
a.lightbox {
   text-decoration: none;
   border: none;
}
a.lightbox img {
}
.filename {
	font-size: 14px;
}
.informations {
	display: none;
}
