.AboutSite {
    width: 100%;
    background: rgba(135,184,37,1);

    color: white;
    overflow: scroll;
    order: 1;
    flex: 1;
}
.AboutSite-img {
	display: none;
}
@media screen and (min-width: 600px){
	.AboutSite {
		height: 100vh;
    overflow: scroll;
    flex: 0 0 340px;
  }
  .AboutSite-img {
    display: block;
    width: 100%;
  }
}
.AboutSite-content {
	padding: 10px;
}
.AboutSite-title {
  margin: 0;
  padding: 0;
	font-size: 24px;
	font-weight: 800;
  color: white;
}
.AboutSite-info {
  margin-top: 1px;
}
@media screen and (min-width: 600px){
  .AboutSite-info {
    margin-top: 5px;
  }
}
.AboutSite-info {
  padding: 0;
	line-height: 1.6;
  font-size: 16px;
  color: white;
}
.AboutSite-meta {
	margin-top: 12px;
}
.AboutSite-meta a {
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
  color: white;
	border-bottom: none;
}
.AboutSite-meta a:hover {
	border-bottom: none;
  box-shadow: 0px 1px white;
}
