.AboutSite {
    width: 100%;
    //background: #C39372;
    background: rgba(135,184,37,1);

    color: white;
    //color: rgb(50,50,50);
    overflow: scroll;
    order: 1;
    flex: 1;
}
@media screen and (min-width: 600px){
	.AboutSite {
		height: 100vh;
    	overflow: scroll;
    	flex: 0 0 340px;
    }
}
.AboutSite-img {
	display: none;
}
@media screen and (min-width: 600px){
    .AboutSite-img {
        display: block;
        width: 100%;
    }
}
.AboutSite-content {
	line-height: 1.6;
	padding: 10px;
}
.AboutSite-title {
	font-size: 24px;
	font-weight: 800;
}
.AboutSite-meta {
	margin-top: 20px;
	font-size: 10px;
	display: inline-block;
	cursor: pointer;
}
.AboutSite-meta:hover {
	border-bottom: 1px solid;

}
